<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="toogleCollapse()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a routerLink="/home" class="navbar-brand" style="cursor:pointer">Taxi Service</a>
        </div>
        <div class="navbar-collapse collapse" #responsiveNavbar collapse="navCollapsed" >
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="!userType || userType === 0">
                    <a routerLink="/login" style="cursor: pointer;">Login</a>
                </li>
                <li routerLinkActive="active" class="dropdown" appDropdown *ngIf="userType || userType === 0">
                    <a class="dropdown-toggle" role="button" style="cursor: pointer;" >Registration<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/registration" [queryParams]="{type: 'customer'}" style="cursor: pointer;">New Customer</a></li>
                        <li><a routerLink="/registration" [queryParams]="{type: 'driver'}" style="cursor: pointer;">New Driver</a></li>
                    </ul>
                </li>
                <li class="dropdown" appDropdown *ngIf="userType && userType !== 0">
                    <a class="dropdown-toggle" role="button" style="cursor: pointer;" >Rides<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Add New</a></li>
                        <li><a style="cursor: pointer;">All Rides</a></li>
                    </ul>
                </li>
                <li class="dropdown" appDropdown *ngIf="userType === 3">
                    <a class="dropdown-toggle" role="button" style="cursor: pointer;" >Users<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">All Users</a></li>
                    </ul>
                </li>
                <li class="dropdown" appDropdown *ngIf="userType === 3">
                        <a class="dropdown-toggle" role="button" style="cursor: pointer;" >Cars<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a style="cursor: pointer;">Add New</a></li>
                            <li><a style="cursor: pointer;">All Cars</a></li>
                        </ul>
                    </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="userType && userType !== 0">
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button" style="cursor: pointer;" >Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">User setting</a></li>
                        <li><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>