@{ Layout = null;}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TaxiServiceSPA</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="AngularApp/TaxiServiceSPA/dist/TaxiServiceSPA/runtime.js"></script>
    <script type="text/javascript" src="AngularApp/TaxiServiceSPA/dist/TaxiServiceSPA/polyfills.js"></script>
    <script type="text/javascript" src="AngularApp/TaxiServiceSPA/dist/TaxiServiceSPA/styles.js"></script>
    <script type="text/javascript" src="AngularApp/TaxiServiceSPA/dist/TaxiServiceSPA/vendor.js"></script>
    <script type="text/javascript" src="AngularApp/TaxiServiceSPA/dist/TaxiServiceSPA/main.js"></script>
</body>
</html>