<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <button id="execute" onclick="execute()">Execute</button>
    <button id="execute" onclick="register()">Register</button>
    <button id="execute" onclick="logout()">Logout</button>
</div>

<script>
    var userHash;
    function execute() {
        $.post("/api/access/login",
            {
                username: 'john',
                password: 'cena'
            }
        ).done((data) => {
            console.log(data);
            userHash = data;
        })
        .catch(() => {
                console.log("Error with request");
        })
    }

    function register() {
        $.post("api/registration",
            {
            username: 'john',
            password: 'cena'
            }
        ).catch(() => {
            console.log('failed');
        })
    }

    function logout() {

        $.post('api/access/logout', { userhash: userHash }).catch(() => { console.log('error');})
    }
</script>