<h2>Details</h2>
<div *ngIf="ride" class="pull-left">
  <p class="list-group-item-text" >Pickup location: {{ride.location.address}}</p>
  <p *ngIf="ride.destination" class="list-group-item-text">Destination : {{ride.destination.address}}</p>
  <p class="list-group-item-text">Created on: {{ride.time}}</p>
  <p class="list-group-item-text">Status: {{rideStatus}}</p>
  <p class="list-group-item-text">Driver: {{ride.driver}}</p>
  <p class="list-group-item-text">Fare: {{ride.fare}}</p>
  <app-comment-details *ngIf="ride && ride.comment" [comment]="ride.comment"></app-comment-details>
  <span class="help-block" *ngIf="cancelFailed">Failed to cancel ride, no longer in waiting.</span>
</div>

<div class="pull-right">
  <a *ngIf="(userType === 3 || userType === 2) && ride.status === 2 && (userType === 2 && driverFree)" [routerLink]="['accept']" class="btn btn-success">Accept</a>
  <button *ngIf="userType === 1 && ride.status === 2"  class="btn btn-danger" (click)="onCancel()">Cancel</button>
</div>