<form [formGroup]="commentForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="description">Description</label>
    <br>
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label for="rate">Rating *</label>
    <select id="rate" formControlName="rate" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <br>
  <span class="help-block" class="">Fields marked with * are required.</span>
  <button [disabled]="!commentForm.valid" type="submit" class="btn btn-default">Submit</button>
</form>