<!-- <div class="row">
<h3 *ngIf="waiting">Waiting rides</h3>
<h3 *ngIf="!waiting">All rides</h3>
</div> -->
<div *ngIf="userType === 3" class="row">
  <button *ngIf="!waiting && myrides" class="btn btn-primary" (click)="onWaitingRides()">My Rides</button>
  <button *ngIf="waiting && !myrides" class="btn btn-primary" (click)="onAllRides()">Waiting</button>
  <button *ngIf="!waiting && !myrides" class="btn btn-primary" (click)="onMyRides()">All Rides</button>
</div>
<div *ngIf="userType === 2" class="row">
  <button *ngIf="!waiting" class="btn btn-primary" (click)="onWaitingRides()">My Rides</button>
  <button *ngIf="waiting" class="btn btn-primary" (click)="onMyRides()">Waiting</button>
</div>
<br>

<div class=" row well well-sm pre-scrollable">
  <div class="list-group">
  <app-ride-item *ngFor="let ride of rides"
  [ride]="ride"></app-ride-item>
  </div>
</div>